html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container {
  display: flex;
}

.navbar {
  width: 20%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 103, 143);
  background: linear-gradient(
    180deg,
    rgba(238, 103, 143, 1) 50%,
    rgba(132, 124, 252, 1) 80%
  );
  color: white;
  font-weight: bold;
  font-family: inherit;
}

.content {
  width: 80%;
  height: 100vh;
  border: 1px solid black;
  padding: 20px;
}

.heading {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
