html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.container {
  display: flex;
}

.navbar {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #173055;
  color: white;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 1.2px;
}

.content {
  width: 80%;
  height: 95vh;
  padding: 20px;
  background: whitesmoke;
}

.heading {
  margin: 15px;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
}

.social-icons {
  display: flex;
}

.icon {
  padding: 15px;
}

.social-icon:hover {
  transform: scale(1.2);
}

.profile {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
}

.selected-nav {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.education {
  padding: 10px;
  margin: 10px;
  background: #1630552e;
  box-shadow: 2px 5px 11px -8px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.education-title {
  margin-left: 15px;
}

.skill {
  font-weight: bold;
  background: #1630552e;
  border-radius: 2px;
  box-shadow: 2px 5px 10px -8px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.content-container {
  margin-left: 20px;
  height: 100%;
  overflow: scroll;
}

.project-container {
  font-weight: bold;
  background: #1630552e;
  box-shadow: 2px 5px 10px -8px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

.project {
  font-size: 25px;
  font-weight: bold;
  color: inherit;
}

.project-container:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.about {
  padding: 20px;
}

.circle {
  border-radius: 50%;
}

.animated:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.animated:hover:after {
  width: 100%;
  background: white;
}

.font-blue {
  color: #173055;
}
