html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container {
  display: flex;
}

.navbar {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 103, 143);
  background: linear-gradient(
    180deg,
    rgba(238, 103, 143, 1) 50%,
    rgba(132, 124, 252, 1) 80%
  );
  color: white;
  font-weight: bold;
  font-family: inherit;
}

.content {
  width: 80%;
  height: 95vh;
  padding: 20px;
  background: whitesmoke;
}

.heading {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
}

.social-icons {
  display: flex;
}

.icon {
  padding: 15px;
}

.social-icon:hover {
  transform: scale(1.2)
}

.profile {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
}

.selected-nav {
  border-bottom: 1px solid;
}